# Global
.idea
.*.swp
.DS_Store
web/public/*
!web/public/.gitignore

# Application
web/app/composer.json
web/app/composer.lock
web/app/vendor/
web/app/doc/
web/app/report/
/data



# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties

# SSL Certs
etc/ssl/